page-bemvindo {

  .bg-img {
     background-image: url('/src/assets/imgs/logo.jpg');
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100%;

  }

  .h3 {

  font-size: xx-large;
  color: #121d2d ;
  }

  .h4 {

    font-size:large;
    color:#121d2d;
    }



}



//" C:\Users\aquiles.bgmeireles\dev\srresolve\src\assets\imgs\Imagemprincipal"

//../src/assets/imgs/logo.png
